body{
    font-family: "Open Sans", sans-serif;
    background-color: white;
    color: #333333;
    font-size: 16px;
    line-height: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.mobile {
    display: none;
}

header {
    background-color: white;
    height: 2rem;
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    z-index: 999;
    width: 100%;
    justify-content: space-between;
}

.light {
    font-weight: lighter;
}
  
.caption {
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 700;
}
  
a {
    text-decoration: none;
    color: #303030;
    line-height: 1rem;
}
  
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1rem;
}

main {
    position: relative;
    margin-top: 4rem;
}

h1 {
    font-size: 2rem;
    line-height: 2rem;
}
  
h2 {
    font-size: 1.4rem;
    line-height: 1.4rem;
}
  
h3 {
    font-size: 1rem;
    color: grey;
    text-transform: uppercase;
    font-weight: lighter;
}
  
p {
    font-size: 1rem;
    line-height: 1.2rem;
}
  
.bold {
    font-weight: bold;
}
  

#logo {
    height: 4 rem;
    margin: 0 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    font: 1.5rem;
}

nav {
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1.5rem;
}

li {
    margin-left: 1rem;
    font-size: 1rem;
}

.cover {
    background-color: #d8d8d8;
    width: 100%;
    display: flex;
}

.left {
    width: 60%;
    padding: 2rem 1.5rem;
    flex-grow: 1;
    flex-shrink: 1;
}

.rigth {
    width: 40%;
    flex-grow: 1;
    flex-shrink: 1;
}