body{
    font-family: "Open Sans", sans-serif;
    background-color: white;
    color: #333333;
    font-size: 16px;
    line-height: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.mobile {
    display: none;
}

header {
    background-color: white;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    z-index: 999;
    width: 100%;
    justify-content: space-between;
}

.light {
    font-weight: lighter;
}
  
.caption {
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 700;
}
  
a {
    text-decoration: none;
    color: #303030;
    line-height: 1rem;
}
  
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1rem;
}

main {
    position: relative;
    margin-top: 4rem;
}

h1 {
    font-size: 2rem;
    line-height: 2rem;
}
  
h2 {
    font-size: 1.4rem;
    line-height: 1.4rem;
}
  
h3 {
    font-size: 1rem;
    color: grey;
    text-transform: uppercase;
    font-weight: lighter;
}
  
p {
    font-size: 1rem;
    line-height: 1.2rem;
}
  
.bold {
    font-weight: bold;
}
  

#logo {
    height: 4rem;
    margin: 0 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.5rem;
}

nav {
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1.5rem;
}

li {
    margin-left: 1rem;
    font-size: 1rem;
}

button {
    height: 4rem;
    background-color: #3d3d3d;
    color: white;
    border: none;
    font-size: 1.2rem;
    flex-shrink: 1;
    border-radius: 4px;
    width: 70%;
}

button:hover {
    background-color: #555555;
}

.cover {
    background-color: #d8d8d8;
    width: 100%;
    display: flex;
  
}

.left {
    width: 60%;
    padding: 2rem 1.5rem;
    flex-grow: 1;
    flex-shrink: 1;
}

.right {
    width: 40%;
    flex-grow: 1;
    flex-shrink: 1;
}

.cover h1 {
    font-size: 3.3rem;
    line-height: 3.3rem;
    letter-spacing: 0rem;
    width: 80%;
    padding-left: 1rem;

}

.cover h2{
    line-height: 1.5rem;
    font-size: 1.5rem;
    letter-spacing: .05rem;
    padding-bottom: 2rem;
    width: 80%;
    padding-left: 1rem;
}

.cover button{
    margin-left: 1rem;
}

.cover .pic img{
    width: 100%
}

.cover .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 0 15rem 0 3rem; */
}

.articles .featured .pic img {
    width: 100%;
    height: auto;
}

.articles {
    display: flex;
    flex-direction: row;
}

.articles .others {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    padding-top: 1rem;
    /* padding: 1rem 15rem 2rem 3rem; */
}

.articles .others .card_pic{
    display: flex;
    flex-direction: row;
}

.articles .others .card_pic .pic {
    width: 35%;
}

.articles .others .card_pic .pic img {
    width: 100%;
    height: auto;
}

.card_pic .pic {
    padding: 1rem;
}

.card_pic .description{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.articles h1{
    font-size: 3.3rem;
    line-height: 3.3rem;
    letter-spacing: 0rem;
}

.description h2 {
    line-height: 1.5rem;
    font-size: 1.5rem;
    letter-spacing: .05rem;
    padding-bottom: 1rem;
}

.articles p and .description p {
    font-size: 1.3rem;
    line-height: 2rem;
}

.articles a {
    font-size: 1.5rem;
    color: blue;
    margin-top: 0rem;
}

.dark {
    background-color: #d6d6d6;
}

.articles .caption {
    font-size: 1.1rem;
    color: #333333;
}


.courses {
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    padding: 2.5rem 10rem;
}

.courses h1 {
    text-align: center;
    font-size: 3.3rem;
    line-height: 3.3rem;
    letter-spacing: 0rem;
}

.courses .course {
    background-color: white;
    width: 30%;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0 1.5rem;
}

.courses .up_row, .courses .down_row {
    display: flex;
    flex-direction: row;
}

.courses .up_row {
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
}

.courses .pic img {
    width: 100%;
}

.courses h3 {
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 2rem;
}

.courses p {
    font-size: 1rem;
    line-height: 2rem;
}

.course .description {
    padding: 0 3rem;
}




.thesis .featured .pic video {
    width: 100%;
    height: auto;
}


.thesis {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    padding-top: 2.5rem;
    width:  100%;
    /* padding: 1rem 15rem 2rem 3rem; */
}

.thesis_content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.thesis .card_pic{
    display: flex;
    flex-direction: row;
}

.thesis .card_pic .pic {
    width: 35%;
}

.thesis .card_pic .pic img {
    width: 100%;
    height: auto;
}

.card_pic .pic {
    padding: 1rem;
}

.card_pic .description{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thesis h1{
    font-size: 3.3rem;
    line-height: 3.3rem;
    letter-spacing: 0rem;
    text-align: center;
}

.thesis h2 {
    line-height: 1.5rem;
    font-size: 1.5rem;
    letter-spacing: .05rem;
    padding-bottom: 1rem;    
}

.thesis .featured h2 {
    font-size: 3.3rem;
    line-height: 3.3rem;
    letter-spacing: 0rem;
    text-align: left;
}

.thesis p and .description p {
    font-size: 1.3rem;
    line-height: 2rem;
}

.thesis a {
    font-size: 1.5rem;
    color: blue;
    margin-top: 3rem;
}

.thesis .left{
    padding: 0 1.5rem;
}

.dark {
    background-color: #d6d6d6;
}

footer {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: row;
    top: 4rem;
    border-top: 1px solid #555555;
    align-items: center;
    justify-content: space-between;
}

footer .links a { 
    margin-left: 1rem;
    font-size: 1rem;
}



@media only screen and (max-width: 800px) {
    
    .desktop {
      display: none;
    }

    #logo {
        display: none;
    }

    .mobile {
        display: flex;
        flex-direction: row;
    }

    button {
        width: 100%;
        padding: 0 0 0 0;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        line-height: 1.6rem;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 1.5rem;
        width: 100%;
        justify-content: space-between;
    }

    .left {
        padding: 0;
    }

    .right {
        width: auto;
        padding: 0;
    }

    footer {
        padding-top: 2.5rem;
        margin-top: -4rem;
    }
    
    footer .links {
        display: none;
    }

    .cover {
        flex-direction: column;
        width: auto;
    }

    .cover .pic {
        width: 100%;
    }

    .cover .pic img{
        width: 100%;
    }

    .cover .description {
        padding: 1rem 0;
    }

    .cover .right {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .cover button{
        margin: 0;
    }

    .cover h1, .cover h2 {
        padding-left: 0;
    }

    .articles .featured {
        display: none;
    }

    .dark {
        background-color: transparent;
    }


    .articles .others .card_pic {
        display: flex;
        flex-direction: column;
    }

    .articles .others {
        width: 100%;
        padding: 1rem 1rem 2rem 1rem;
    }

    .articles .others .card_pic .pic{
        width: 100%;
    }

    .articles .others .card_pic .pic img{
        width: 100%;
    }

    .articles .others .white {
        margin-bottom: 4rem;
    }

    .card_pic .pic{
        padding: 0;
    }

    .courses {
        margin-bottom: 1.5rem;
        padding: 1.5rem .2rem 1.5rem .2rem;
    }
    
    .courses .up_row{
        margin-bottom: 0;
    }

    .courses .up_row,
    .courses .down_row {
        display: flex;
        flex-direction: column;
    }
    
    .courses .course {
        background-color: #d8d8d8;
        padding: 1rem 1rem 1.5rem 1rem;
        margin: 0 auto 0.5rem auto;
        width: 80%;
        text-align: center;
    }
    
    .course .pic {
        display: none;
    }
    
    .course .description h3,
    .course .description p {
        display: none;
    }


    .thesis{
        padding-bottom: 0;
    }
    .thesis .others {
        display: none;
    }
    
    .thesis .featured {
        width: 100%;
    }
    
    .thesis .featured video {
        width: 100%;
    }
    
    .thesis .featured .description {
        display: none;
    
    
    }





}